.container{
  width: 15em;
  margin: 0 2px;
  float: left;
}

.pic img{
  width: 100%;
}

.title{
  font-weight: bold;
  margin-bottom: 1em;
}

.channel, .views{
  font-size: small;
  color: #ccc;
  margin-bottom: 2px;
}

.views span{
  padding: 0 5px;
}