.container{
  width: 13em;
  margin: 50px 2px;
  float: left;
}

.pic img{
  width: 100%;
}

.title{
  font-weight: bold;
  margin-bottom: .5em;
}

.channel, .views{
  font-size: small;
  color: #686666d6;
  margin-bottom: 2px;
}

.views span{
  padding: 0 2.5px;
}